:root {
  --font-code: 'Cascadia Code', 'Roboto Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
}

html {
  &.firefox {
    body {
      overflow-y: hidden; // the height will be auto adjusted by browser, hide scroll to avoid flashing when adding list item
    }
  }

  &.chrome {
    font-size: 12px;
    padding: 0 2em;
  }
}

body {
  user-select: text;
  cursor: auto;
}

h1 {
  font-size: 1.5rem;
}

fieldset {
  font-size: 1.4rem;
  line-height: 1.5;

  padding-block: 0.35em 0.625em;
  padding-inline: 0.75em;
  margin-inline: 0;

  &:not(last-child) {
    margin-bottom: 1.5em;
  }

  input.add {
    float: right;
  }

  &:disabled {
    opacity: 0.7;

    button {
      cursor: not-allowed;
    }
  }

  hr {
    border: none;
    border-top: 1px solid #d7d7bd;
    margin: 1em 0;
  }
}

label {
  display: flex;
  align-items: center;

  input[type='radio'] {
    width: 1.5em;
  }
}

button,
input[type='button'] {
  &:enabled {
    cursor: pointer;
  }
}

input.toggle[type='checkbox'] {
  --btn-width: 2.8em;
  --btn-height: 1.4em;
  --dot-width: 1em;
  --dot-height: 1em;
  --checked-bg: #0061e0;
  --border-width: 3px;

  appearance: none;
  width: var(--btn-width);
  height: var(--btn-height);
  display: inline-flex;
  align-items: center;
  border-radius: 1em;
  box-sizing: border-box;
  border-width: var(--border-width);
  border-color: rgba(80,80,80,0.6);
  margin: 0 8px;
  background: rgba(80,80,80,0.4);
  cursor: pointer;

  &::before {
    display: block;
    width: var(--dot-width);
    height: var(--dot-height);
    content: '';
    border-radius: 50%;
    background: white;
    transition: transform 160ms;
    transform: translateX(var(--border-width));
  }

  &:checked {
    background-color: var(--checked-bg);
    border-color: var(--checked-bg);

    &::before {
      transform: translateX(calc(var(--btn-width) - var(--dot-width) - var(--border-width)));
    }
  }

  &:hover {
    background-color: rgba(80,80,80,0.6);
    &:checked {
      background-color: #0041c0;
    }
  }
}

ul {
  margin: 0;
  padding-left: calc(1.5em + 2px);
  list-style: none;
}

li {
  display: flex;
  padding: 2px;
  margin: 2px 0;

  input[type='text'] {
    flex-grow: 1;
    margin-right: 4px;
    font-family: var(--font-code);

    &:disabled {
      background-color: #ebebe4;
      border-style: dotted;
    }
  }

  &:hover {
    background-color: #ededed;
    outline: 2px solid #efefef;
  }
}

.hint-and-add {
  display: flex;
  padding: 2px;
  padding-left: calc(1.5em + 4px);
  margin: 2px 0;
  align-items: center;
}

small.hint {
  flex-grow: 1;
  margin-right: 4px;
  opacity: 0.6;
}

.validating {
  input:invalid {
    background-color: #fdf2f5;
    outline: 1px solid red;
    color: red;
  }
}

code {
  font-family: var(--font-code);

  &:hover {
    background-color: gold;
  }
}

#actions {
  font-size: 1.3rem;
  text-align: right;
  margin: 0;
  padding-right: 0;
  border: none;

  .status-msg {
    &.success {
      color: green;
    }
    &.error {
      color: red;
    }
    span {
      cursor: pointer;
      color: #444;
      display: inline-block;
      padding: 0 2px;
      margin: 0 8px 0 2px;
    }
  }

  button {
    margin-left: 1em;
    font-size: 1.2rem;
  }

  .import-export {
    display: inline-block;
    margin-left: 1em;

    button {
      margin: 0;
      margin-right: 1px;
    }
  }

  #import-file {
    appearance: none;
    display: none;
  }
}

#domain-rules {
  margin-bottom: 1em;

  > legend {
    display: flex;
    align-items: center;
  }

  .help-toggle {
    display: inline-flex;
    align-items: center;
    font-family: var(--font-code);
    vertical-align: middle;
    background-color: transparent;
    border: none;
    opacity: 0.3;

    > span {
      width: 1px;
      height: 1px;
      overflow: hidden;
    }

    &:is(:hover, .hint-shown) {
      > span {
        width: initial;
        height: initial;
      }
      opacity: 1;
    }

    &.hint-shown {
      background-color: #fdffdf;
    }

    img {
      width: 1.3rem;
      margin: 0 4px 0 6px;
    }
  }
}

#domain-rules table {
  width: 100%;
  min-width: 550px;
  border-collapse: collapse;
  margin-bottom: 6px;

  tbody tr:nth-child(2n) {
    background-color: #f2f2f2;
  }
  tbody tr {
    transition: background-color 1s ease-in, outline 1s ease-in;
  }
  tbody tr.anchored {
    background-color: rgba(0,0,0,0.5);
    outline: 3px solid rgba(0,0,0,0.5);
    transition-property: none;
  }
  th {
    background-color: #efeff2;
    font-weight: normal;
    font-size: 1.1rem;
    border-right: 1px dotted #444;

    &:nth-child(1) {
      display: block;
      overflow: hidden;
      resize: horizontal;
      min-width: 100%;
    }
  }
  th, td {
    min-width: 4em;
    text-align: center;
    padding: 2px 0 3px;

    input[type='text'] {
      width: 4em;
      font-family: var(--font-code);
    }

    &:nth-child(1) {
      resize: horizontal;
      input {
        width: 99%;
        box-sizing: border-box;
      }
    }
    &:last-child {
      min-width: unset;
    }
  }
  .locale-dir {
    input {
      text-align: center;
    }
    > span {
      margin: 0 2px;
    }
  }
  input.toggle[type='checkbox'] {
    margin: 0;
  }

  .more-actions {
    width: 100%;
    height: 24px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    font-weight: bold;

    &:hover {
      background-color: #ccc;
    }
  }
}

#rules-hint {
  --bg-color: #fdffdf;

  font-size: 1.25rem;
  padding-block: 0;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: var(--bg-color);
  box-shadow: -2px 0 4px rgba(0,0,0,0.3), 2px 2px 6px rgba(0,0,0,0.3);

  > button {
    background-color: transparent;
    float: right;
    font-size: 1.8rem;
    padding-inline: 10px;
    border: none;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }

  dd {
    padding: 4px 0;
    margin-left: 2em;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  dl.samples {
    margin-top: 0;
    font-size: 1.1rem;
    dt:first-child {
      padding-top: 1px;
    }
    code {
      color: #777;
    }
    .to {
      margin-left: 12px;
      vertical-align: middle;
    }
  }

  .field-term {
    padding: 2px 4px 3px;
    border-right: 1px dotted #444;
    font-size: 1.1rem;
    background-color: #efeff2;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  }

  #rules-hint-fields {
    h2 {
      font-size: inherit;
      font-weight: normal;
      margin-block: 10px;
    }

    hr {
      margin: 0;
    }

    dl {
      margin: 4px 0 0;
      dt {
        display: inline-block;
        width: min-content;
        white-space: nowrap;
        text-align: center;
        font-size: 1.1rem;

        samp {
          font-family: var(--font-code);
          margin-left: 8px;
          var {
            border-bottom: 1px solid black;
            &:hover {
              background-color: gold;
            }
          }
        }
      }

      dd {
        margin-inline: 1em;
      }
    }
  }

  var {
    color: black;
    &.locale {
      color: #0061e0;
    }
  }

  p {
    margin-block: 4px;
  }
}

.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.more-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  padding: 2px;
  background-color: white;
  box-shadow: -1px -1px 3px rgba(0,0,0,0.3), 2px 2px 6px rgba(0,0,0,0.4);
  border-radius: 3px;

  li {
    padding: 4px 1em;
    display: block;
    font-size: 1.2rem;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px dotted #ccc;
    }

    &:focus {
      background-color: #ccc;
    }
  }
}

fieldset#details {
  padding-inline: 0;
  margin-inline: 0.75em;
  border-style: solid;
  border-color: white;

  input[type='text'] {
    padding: 2px 5px;
    margin-left: 4px;
    font-family: var(--font-code);
  }

  .domain-names {
    width: clamp(20em, 70%, 40em);
  }
}
